<div class="px-8">
    <div class="text-xl my-4">Features</div>

    <mat-list>
        <mat-list-item>
            <mat-icon matListItemIcon>design_services</mat-icon>
            <h3 matListItemTitle>Angular Material Design</h3>
            <p matListItemLine>Angular Material's sleek, ready-to-use components for a modern and responsive design.</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>css</mat-icon>
            <h3 matListItemTitle>Tailwind CSS</h3>
            <p matListItemLine>Streamlined styling with Tailwind CSS utility classes for rapid development and
                customization.</p>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>api</mat-icon>
            <h3 matListItemTitle>Backend API Included</h3>
            <p matListItemLine>Integrated frontend and backend development for a full-stack experience.</p>
        </mat-list-item>
    </mat-list>

</div>