<mat-toolbar color="primary" class="mb-8">
    <span class="text-white font-bold text-lg">Angular Snippet Nuggets</span>
    <span class="flex-grow"></span>
    <button mat-button routerLink="/" routerLinkActive="active">Home</button>
    <button mat-button routerLink="/features" routerLinkActive="active">Features</button>
    <button mat-button routerLink="/documentation" routerLinkActive="active">Documentation</button>
    <button mat-button (click)="openExternalLink('https://github.com/FlorantePascual/ng-snippet-nuggets')">GitHub</button>
</mat-toolbar>