<!-- home.component.html -->

<!-- Main Content -->
<div class="flex-grow container mx-auto mt-8">
    <section class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
        <!-- Left Column - Description -->
        <div>
            <h2 class="text-4xl font-bold mb-4">Realtime Crypto Graph</h2>
            <p class="text-lg mb-6">Learn how to build a real-time graph showcasing market stats of various
                cryptocurrencies using Angular 17, Angular Material, and TailwindCSS.</p>
            <button mat-raised-button color="primary" routerLink="/crypto">Get Started</button>
        </div>        

        <!-- Right Column - Graph -->
        <div>
            <div id="cryptoGraph" class="bg-white rounded-lg shadow-md p-4">
                <img src="assets/images/screenshots/crypto.webp" alt="Crypto Screenshot">
                <div class="text-center text-gray-500">Preview of Crypto Graph Nugget</div>
            </div>
        </div>
    </section>
</div>
